   ## Theoritical question ##

Que 1. What are data structures,and why they are important?
Ans -  Data structure are ways to organize and store data efficiently for easy accsess and modification.

Que 2. Expalin the difference between mutable and immutable data types with example?
Ans -  Mutable (eg. list,dic)can be changed with creation. Immutable (eg.str,tuple) can't be changed with creation,they will be error.

Que 3. Differince between lists and tuples in python & how dictionaries store data?
Ans -  List are mutable and ordered, Tuple are immutable and ordered and dictionaries data store with key value paires using hash table.

Que 4. Why use a set instead of a list in phython?
Ans -  Set instead to remove duplicates and for faster membership checks.

Que 5. What is a string in python ,and how is it different from a list?
Ans -  A string is an immutable sequence of characters. A list is mutable and can hold any data type.

Que 6. How do tuples ensure data integrity in python?
Ans -  They are immutable, so values can not be modified after creation.

Que 7. What is a hash table,and how it relate to dictionaries in python?
Ans -  A hash table maps keys to values using a hash funtion.Dictionaries in python use this internally.

Que 8. Can lists cantain diffirent data types in python?
Ans -  Yes list can hold mixed data types like[1,'a', 3.14].

Que 9. Expalin why strings are immutable in python?
Ans -  Immutability makes strings secure, reliabe, and memory efficient.

Que 10. What advantages do dictionaries offer over lists?
Ans  -  Dictionaries provide faster key - based access and better structure for labled data.

Que 11. How do sets handle duplicate values in python?
Ans  -  Sets are automatically discard duplicates.

Que 12. When would you use a tuple instead of a list?
Ans  -  When the data should not be modified,e.g.,fixed coordinates.

Que 13. How does the 'in' keyword differ for lists and dictionaries?
Ans  -  'In' keyword checks values in lists and keys in dictionaries.

Que 14. Can you modify the elements of a tuple? Why or why not?
Ans  -  Tuples are not modify because tuple are immutable.

Que 15. What is a nested dictionary?Example?
Ans  -  Neasted dictionaries a dictionary inside another.Example: ['person':{'name':'sujeet','age':19}}

Que 16. Time complexity of accessing dictionary elements?
Ans  -  O(1) on average, due to hash-based lookups?

Que 17. When are list preferred over dictionaries?
Ans  -  When order matters or when there are no key-value pairs.

Que 18. Why are dictionaries considered unordered?
Ans  -  Before python 3.7, insertion order wasn't preserved.

Que 19. Difference between list and dictionary in data retrieval?
Ans  -  Lists use index; dictionaries use key-based retrieval.

 ## practical questions ##

In [107]:
#Que 1. Create a string with your name and print it?
name = "sujeet"
print(name)

sujeet

In [108]:
#Que 2. Find the length of the string 'Hello World'?
a = "Hello World"
print(len(a))

a = "helloworld" #give not space to give (len 10)
print(len(a))

11
10

In [7]:
#Que 3. Slince the first 3 characters from 'python programming'?
a = "Python programming"
print(a[:3])

Pyt

In [15]:
#Que 4. Convert 'hello' to uppercase?
a = "hello"
a.upper()

'HELLO'

In [17]:
#Que 5. Replace 'apple' with 'orange'in 'i like apple'?
like = "i like apple"
like.replace("apple","orange")

'i like orange'

In [22]:
#Que 6. Create a list with numbers 1 to 5?
lst = (1,2,3,4,5,)
print(lst)

(1, 2, 3, 4, 5)

In [109]:
#Que 7. Append 10 to the list [1,2,3,4]?
num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [110]:
#Que 8. Remove 3 from [1,2,3,4,5]?
lst = [1,2,3,4,]
lst.remove(3)
print(lst)

[1, 2, 4]

In [111]:
#Que 9. Access the second element in ['a','b','c','d']?
a = ['a','b','c','d']
a[1]

'b'

In [112]:
#Que 10. Reverse the list [10,20,30,40,50]?
a = [10,20,30,40,50]
print(a[::-1])

[50, 40, 30, 20, 10]

In [113]:
#Que 11. Create a tuple (100,200,300)?
a = (100,200,300)
type(a)

tuple

In [114]:
#Que 12. Access second-to-last element of('red','green','blue',yellow')?
colors = ("red","green","blue","yellow")
print(colors[1::])

('green', 'blue', 'yellow')

In [115]:
#Que 13. Find the minimum in (10,20,5,15)?
num = [10,20,5,15]
print(min(num))

5

In [116]:
#Que 14. Find index of 'cat'in ('dog','cat','rabbit')?
small_animal = ("dog","cat","rabbit")
small_animal.index("cat")

1

In [117]:
#Que 15. Check if 'kivi'is in a tuple of fruits?
fruits = ("apple","banana","kivi")
print("kivi" in fruits)

True

In [118]:
#Que 16. Create and print set {'a','b','c'}?
sets = {'a','b','c'}
print(sets)

{'a', 'b', 'c'}

In [119]:
#Que 17. Clear all elements from set {1,2,3,4,5}?
s = {1,2,3,4,5}
s.clear()

In [62]:
print(s)

set()

In [120]:
#Que 18. Remove 4 from set {1,2,3,4}?
b = {1,2,3,4}
b.remove(4)

In [64]:
print(b)

{1, 2, 3}

In [121]:
#Que 19. Union of [1,2,3} and {3,4,5}?
a = {1,2,3}
b = {3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [122]:
#Que 20. Intersection of {1,2,3} and {2,3,4}?
a = {1,2,3}
b = {2,3,4}
print(a.intersection(b))

{2, 3}

In [123]:
#Que 21. Create dictionary with keys 'name','age','city'?
file = {"name":"sujeet","age":20,"city":"jabalpur"}
print(file)

{'name': 'sujeet', 'age': 20, 'city': 'jabalpur'}

In [124]:
#Que 22. Add'country':'USA' to {'name':'john','age':25}?
customer1 = {"name":"john","age":25}
customer1["country"] = "USA"
print(customer1)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [125]:
#Que 23. Access 'name' in {'name':'Alice','age':30}?
cus2 = {"name":"Alice","age":25}
print(cus2["name"])

Alice

In [126]:
#Que 24. Remove 'age' from {'name':'Bob','age':22,'city':'NEW YORK'}?
cus3 = {"name":"Bob","age":22,"city":"NEW YORK"}
del cus3["age"]
print(cus3)

{'name': 'Bob', 'city': 'NEW YORK'}

In [89]:
#Que 25.Check if 'city' exists in {'name':'Alice','city':'paris'}
d = {"name":"Alice","city":"paris"}
"city" in d

True

In [94]:
#Que 26. Create and print list,tuple,and dictionary
lst = [1,2,3]
tup = (4,5,6)
dic = {"a":1,"b":2}
print(lst,tup,dic)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [106]:
#Que 27. Generate and sort 5 random numbers from 1 to 100?
import random
lst = [random.randint(1,100) for _ in range(5)]
lst.sort()
print(lst)

[7, 22, 23, 57, 75]

In [100]:
#Que 28.print element at index 3 from list of strings?
A = ("one","two","three","four","five")
print(A[3])

four

In [104]:
#Que 29. Combine two dictinories?
d1 = {"name":"sujeet"}
d2 = {"surname":"yadav"}
d1.update(d2)
print(d1)

{'name': 'sujeet', 'surname': 'yadav'}

In [105]:
#Que 30. Convert a list of strings to a set?
lst = ["a","b","c","a"]
s = set(lst)
print(s)

{'a', 'b', 'c'}